build/
install/
log/
dist/
*.egg-info/
__pycache__/
*.py[cod]
.pytest_cache/
.vscode/
.idea/
bags/*
!bags/.gitkeep
logs/*
!logs/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/debug/*
!data/debug/.gitkeep
